<a href="https://colab.research.google.com/github/zurii-07/CM2604-ML-Coursework/blob/Develop/ML_CW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Loading & Exploring the dataset.

In [30]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [8]:
import pandas as pd
import numpy as np

#Loading the dataset.
file_path = '/content/drive/MyDrive/ML CW /bank+marketing/bank-additional/bank-additional/bank-additional-full.csv'
data = pd.read_csv(file_path, sep=';')

#Exploring the dataset
print(data.head())
print(data.info())
print(data.describe())

   age        job  marital    education  default housing loan    contact  \
0   56  housemaid  married     basic.4y       no      no   no  telephone
1   57   services  married  high.school  unknown      no   no  telephone
2   37   services  married  high.school       no     yes   no  telephone
3   40     admin.  married     basic.6y       no      no   no  telephone
4   56   services  married  high.school       no      no  yes  telephone

  month day_of_week  ...  campaign  pdays  previous     poutcome emp.var.rate  \
0   may         mon  ...         1    999         0  nonexistent          1.1
1   may         mon  ...         1    999         0  nonexistent          1.1
2   may         mon  ...         1    999         0  nonexistent          1.1
3   may         mon  ...         1    999         0  nonexistent          1.1
4   may         mon  ...         1    999         0  nonexistent          1.1

   cons.price.idx  cons.conf.idx  euribor3m  nr.employed   y
0          93.994          -36.4      4.857       5191.0  no
1          93.994          -36.4      4.857       5191.0  no
2          93.994          -36.4      4.857       5191.0  no
3          93.994          -36.4      4.857       5191.0  no
4          93.994          -36.4      4.857       5191.0  no

[5 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB
None
               age      duration      campaign         pdays      previous  \
count  41188.00000  41188.000000  41188.000000  41188.000000  41188.000000
mean      40.02406    258.285010      2.567593    962.475454      0.172963
std       10.42125    259.279249      2.770014    186.910907      0.494901
min       17.00000      0.000000      1.000000      0.000000      0.000000
25%       32.00000    102.000000      1.000000    999.000000      0.000000
50%       38.00000    180.000000      2.000000    999.000000      0.000000
75%       47.00000    319.000000      3.000000    999.000000      0.000000
max       98.00000   4918.000000     56.000000    999.000000      7.000000

       emp.var.rate  cons.price.idx  cons.conf.idx     euribor3m   nr.employed
count  41188.000000    41188.000000   41188.000000  41188.000000  41188.000000
mean       0.081886       93.575664     -40.502600      3.621291   5167.035911
std        1.570960        0.578840       4.628198      1.734447     72.251528
min       -3.400000       92.201000     -50.800000      0.634000   4963.600000
25%       -1.800000       93.075000     -42.700000      1.344000   5099.100000
50%        1.100000       93.749000     -41.800000      4.857000   5191.000000
75%        1.400000       93.994000     -36.400000      4.961000   5228.100000
max        1.400000       94.767000     -26.900000      5.045000   5228.100000

2. Data Preprocessing

In [9]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.preprocessing import StandardScaler, MinMaxScaler

#Data Preprocessing

# 01. Checking for Missing values labeled as "Unknown" in categorical features.
categoricalFeatures = ['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'day_of_week', 'poutcome']

unknownCount = {col: (data[col] == 'unknown').sum() for col in categoricalFeatures}
print("01.Number of 'Unknown' values in categorical features: ")
print(unknownCount)
print("\n")


# 1.1 Replacing missing "Unknown" values with the most frequent category.
for col in categoricalFeatures:
    mostFrequentCategory = data[col].mode()[0]
    data[col] = data[col].replace('unknown', mostFrequentCategory)

print("1.1.After replacing 'Unknown' values with the most frequent category: ")
print("\n")
print(data.head(10))
print("\n")

# 1.2 Getting counts for each category in categorical features.
print("1.2.Counts for each category in categorical features: ")
print("\n")
for col in categoricalFeatures:
    print(f"Counts for the feature, '{col}':")
    print(data[col].value_counts())
    print("\n")

# 02. Feature Engineering / Encoding Categorical Features.

#Lable encoding the target variable 'y'
labelEncoder = LabelEncoder()
data['y'] = labelEncoder.fit_transform(data['y'])

#One-hot encoding the categorical features.
encodedData = pd.get_dummies(data, columns=categoricalFeatures, drop_first=True)

#Displaying the processed data.
print("\n 02.Processed Data with Encoded Categorical Features(with First 5 rows):")
print("\n")
print(encodedData.head(10))
print("\n")


# 3. Data Normalization / Scaling

#Identifying numerical features
numericalFeatures = ['age', 'duration', 'campaign', 'pdays', 'previous', 'emp.var.rate', 'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed']

#Initializing MinMaxScaler or StandardScaler to normalize the data.
scaler = MinMaxScaler()

#Scaling the numerical features.
scaledNumericalData = scaler.fit_transform(encodedData[numericalFeatures])
scaledNumericalData = pd.DataFrame(scaledNumericalData, columns=numericalFeatures)

# Replacing the scaled numerical features in the dataset.
encodedData[numericalFeatures] = scaledNumericalData

#Displaying the scaled data.
print("\n 03.Scaled Data (with First 5 rows):")
print("\n")
print(encodedData.head(10))
print("\n")


# 04. Handling Class Imbalances using SMOTE.

from imblearn.over_sampling import SMOTE

#separating features and target variable.
X = encodedData.drop('y', axis=1)
y = encodedData['y']

#Initializing SMOTE to handle class imbalances.
smote = SMOTE(random_state=42)

# Applying SMOTE to generate balanced data.
X_resampled, y_resampled = smote.fit_resample(X, y)

#Creating a new DataFrame with the balanced dataset.
balancedData = pd.DataFrame(X_resampled, columns=X.columns)
balancedData['y'] = y_resampled

#Displaying the balanced data.
print("\n 04.Balanced Data after applying SMOTE (Class Distriution):")
print("\n")
print(balancedData['y'].value_counts())
print("\n")

01.Number of 'Unknown' values in categorical features:
{'job': 330, 'marital': 80, 'education': 1731, 'default': 8597, 'housing': 990, 'loan': 990, 'contact': 0, 'month': 0, 'day_of_week': 0, 'poutcome': 0}


1.1.After replacing 'Unknown' values with the most frequent category:


   age          job  marital            education default housing loan  \
0   56    housemaid  married             basic.4y      no      no   no
1   57     services  married          high.school      no      no   no
2   37     services  married          high.school      no     yes   no
3   40       admin.  married             basic.6y      no      no   no
4   56     services  married          high.school      no      no  yes
5   45     services  married             basic.9y      no      no   no
6   59       admin.  married  professional.course      no      no   no
7   41  blue-collar  married    university.degree      no      no   no
8   24   technician   single  professional.course      no     yes   no
9   25     services   single          high.school      no     yes   no

     contact month day_of_week  ...  campaign  pdays  previous     poutcome  \
0  telephone   may         mon  ...         1    999         0  nonexistent
1  telephone   may         mon  ...         1    999         0  nonexistent
2  telephone   may         mon  ...         1    999         0  nonexistent
3  telephone   may         mon  ...         1    999         0  nonexistent
4  telephone   may         mon  ...         1    999         0  nonexistent
5  telephone   may         mon  ...         1    999         0  nonexistent
6  telephone   may         mon  ...         1    999         0  nonexistent
7  telephone   may         mon  ...         1    999         0  nonexistent
8  telephone   may         mon  ...         1    999         0  nonexistent
9  telephone   may         mon  ...         1    999         0  nonexistent

  emp.var.rate  cons.price.idx  cons.conf.idx  euribor3m  nr.employed   y
0          1.1          93.994          -36.4      4.857       5191.0  no
1          1.1          93.994          -36.4      4.857       5191.0  no
2          1.1          93.994          -36.4      4.857       5191.0  no
3          1.1          93.994          -36.4      4.857       5191.0  no
4          1.1          93.994          -36.4      4.857       5191.0  no
5          1.1          93.994          -36.4      4.857       5191.0  no
6          1.1          93.994          -36.4      4.857       5191.0  no
7          1.1          93.994          -36.4      4.857       5191.0  no
8          1.1          93.994          -36.4      4.857       5191.0  no
9          1.1          93.994          -36.4      4.857       5191.0  no

[10 rows x 21 columns]


1.2.Counts for each category in categorical features:


Counts for the feature, 'job':
job
admin.           10752
blue-collar       9254
technician        6743
services          3969
management        2924
retired           1720
entrepreneur      1456
self-employed     1421
housemaid         1060
unemployed        1014
student            875
Name: count, dtype: int64


Counts for the feature, 'marital':
marital
married     25008
single      11568
divorced     4612
Name: count, dtype: int64


Counts for the feature, 'education':
education
university.degree      13899
high.school             9515
basic.9y                6045
professional.course     5243
basic.4y                4176
basic.6y                2292
illiterate                18
Name: count, dtype: int64


Counts for the feature, 'default':
default
no     41185
yes        3
Name: count, dtype: int64


Counts for the feature, 'housing':
housing
yes    22566
no     18622
Name: count, dtype: int64


Counts for the feature, 'loan':
loan
no     34940
yes     6248
Name: count, dtype: int64


Counts for the feature, 'contact':
contact
cellular     26144
telephone    15044
Name: count, dtype: int64


Counts for the feature, 'month':
month
may    13769
jul     7174
aug     6178
jun     5318
nov     4101
apr     2632
oct      718
sep      570
mar      546
dec      182
Name: count, dtype: int64


Counts for the feature, 'day_of_week':
day_of_week
thu    8623
mon    8514
wed    8134
tue    8090
fri    7827
Name: count, dtype: int64


Counts for the feature, 'poutcome':
poutcome
nonexistent    35563
failure         4252
success         1373
Name: count, dtype: int64



 02.Processed Data with Encoded Categorical Features(with First 5 rows):


   age  duration  campaign  pdays  previous  emp.var.rate  cons.price.idx  \
0   56       261         1    999         0           1.1          93.994
1   57       149         1    999         0           1.1          93.994
2   37       226         1    999         0           1.1          93.994
3   40       151         1    999         0           1.1          93.994
4   56       307         1    999         0           1.1          93.994
5   45       198         1    999         0           1.1          93.994
6   59       139         1    999         0           1.1          93.994
7   41       217         1    999         0           1.1          93.994
8   24       380         1    999         0           1.1          93.994
9   25        50         1    999         0           1.1          93.994

   cons.conf.idx  euribor3m  nr.employed  ...  month_may  month_nov  \
0          -36.4      4.857       5191.0  ...       True      False
1          -36.4      4.857       5191.0  ...       True      False
2          -36.4      4.857       5191.0  ...       True      False
3          -36.4      4.857       5191.0  ...       True      False
4          -36.4      4.857       5191.0  ...       True      False
5          -36.4      4.857       5191.0  ...       True      False
6          -36.4      4.857       5191.0  ...       True      False
7          -36.4      4.857       5191.0  ...       True      False
8          -36.4      4.857       5191.0  ...       True      False
9          -36.4      4.857       5191.0  ...       True      False

   month_oct  month_sep  day_of_week_mon  day_of_week_thu  day_of_week_tue  \
0      False      False             True            False            False
1      False      False             True            False            False
2      False      False             True            False            False
3      False      False             True            False            False
4      False      False             True            False            False
5      False      False             True            False            False
6      False      False             True            False            False
7      False      False             True            False            False
8      False      False             True            False            False
9      False      False             True            False            False

   day_of_week_wed  poutcome_nonexistent  poutcome_success
0            False                  True             False
1            False                  True             False
2            False                  True             False
3            False                  True             False
4            False                  True             False
5            False                  True             False
6            False                  True             False
7            False                  True             False
8            False                  True             False
9            False                  True             False

[10 rows x 48 columns]



 03.Scaled Data (with First 5 rows):


        age  duration  campaign  pdays  previous  emp.var.rate  \
0  0.481481  0.053070       0.0    1.0       0.0        0.9375
1  0.493827  0.030297       0.0    1.0       0.0        0.9375
2  0.246914  0.045954       0.0    1.0       0.0        0.9375
3  0.283951  0.030704       0.0    1.0       0.0        0.9375
4  0.481481  0.062424       0.0    1.0       0.0        0.9375
5  0.345679  0.040260       0.0    1.0       0.0        0.9375
6  0.518519  0.028264       0.0    1.0       0.0        0.9375
7  0.296296  0.044124       0.0    1.0       0.0        0.9375
8  0.086420  0.077267       0.0    1.0       0.0        0.9375
9  0.098765  0.010167       0.0    1.0       0.0        0.9375

   cons.price.idx  cons.conf.idx  euribor3m  nr.employed  ...  month_may  \
0        0.698753        0.60251   0.957379     0.859735  ...       True
1        0.698753        0.60251   0.957379     0.859735  ...       True
2        0.698753        0.60251   0.957379     0.859735  ...       True
3        0.698753        0.60251   0.957379     0.859735  ...       True
4        0.698753        0.60251   0.957379     0.859735  ...       True
5        0.698753        0.60251   0.957379     0.859735  ...       True
6        0.698753        0.60251   0.957379     0.859735  ...       True
7        0.698753        0.60251   0.957379     0.859735  ...       True
8        0.698753        0.60251   0.957379     0.859735  ...       True
9        0.698753        0.60251   0.957379     0.859735  ...       True

   month_nov  month_oct  month_sep  day_of_week_mon  day_of_week_thu  \
0      False      False      False             True            False
1      False      False      False             True            False
2      False      False      False             True            False
3      False      False      False             True            False
4      False      False      False             True            False
5      False      False      False             True            False
6      False      False      False             True            False
7      False      False      False             True            False
8      False      False      False             True            False
9      False      False      False             True            False

   day_of_week_tue  day_of_week_wed  poutcome_nonexistent  poutcome_success
0            False            False                  True             False
1            False            False                  True             False
2            False            False                  True             False
3            False            False                  True             False
4            False            False                  True             False
5            False            False                  True             False
6            False            False                  True             False
7            False            False                  True             False
8            False            False                  True             False
9            False            False                  True             False

[10 rows x 48 columns]

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:474: FutureWarning: `BaseEstimator._validate_data` is deprecated in 1.6 and will be removed in 1.7. Use `sklearn.utils.validation.validate_data` instead. This function becomes public and is part of the scikit-learn developer API.
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/sklearn/utils/_tags.py:354: FutureWarning: The SMOTE or classes from which it inherits use `_get_tags` and `_more_tags`. Please define the `__sklearn_tags__` method, or inherit from `sklearn.base.BaseEstimator` and/or other appropriate mixins such as `sklearn.base.TransformerMixin`, `sklearn.base.ClassifierMixin`, `sklearn.base.RegressorMixin`, and `sklearn.base.OutlierMixin`. From scikit-learn 1.7, not defining `__sklearn_tags__` will raise an error.
  warnings.warn(

 04.Balanced Data after applying SMOTE (Class Distriution):


y
0    36548
1    36548
Name: count, dtype: int64

3. Saving the processed dataset as a new Dataset.

In [10]:
#Saving the above cleaned data to a new csv file.

newFilePath = '/content/drive/MyDrive/ML CW /bank-additional-full-cleaned.csv'
balancedData.to_csv(newFilePath, index=False)
print(f"Processed and balanced dataset saved to {newFilePath}")

Processed and balanced dataset saved to /content/drive/MyDrive/ML CW /bank-additional-full-cleaned.csv

4. Splitting the Dataset

In [ ]:
# 04. Splitting the dataset into training(60%), validation(20%) and testing(20%) sets.

from sklearn.model_selection import train_test_split